# folders
calibration_data/
calibration_data/Archive/
calibration_data/Calibrated_Reference_Cells-April_2017/
docs/
docs/Archive/
docs/instrument_manuals/
drivers/
notes/
misc/
testing/

# files
spectral_response_main - Shortcut.lnk
docs/mounting_step2.jpg
docs/mounting_step3a.jpg
docs/mounting_step3b.jpg
docs/mounting_step4.jpg
builds/spectral_response_5.0.0/LabViewLayer.dll
builds/spectral_response_5.0.0/SIToolKit.dll
builds/spectral_response_5.0.0/SimpleDisplay.dll

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Links
*.lnk

# Executables
*.exe

